<br>
  <CENTER><h2>PAGINA NO ENCONTRADA</h2></CENTER>

    <CENTER><img src="/imgFiles/404.png" width="500" height="200"></CENTER>
    <CENTER><h2>REGRESE A LA PAGINA PRINCIPAL</h2></CENTER>
    <CENTER><h2>ERROR 404</h2></CENTER>
