
<html>
<title>Graficos</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="theme-color" content="#d72525"><link rel="icon" type="image/png" href="/imgFiles/presentacion.png">
<link rel="stylesheet" href="/cssFiles/estilos2.css">
<!-- iconos-->
<link rel="stylesheet" href='/cssFiles/iconos.min.css'>
<link rel="stylesheet" href='/cssFiles/bootstrap.min.css'>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey"  onload="getdata()">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>&nbsp;&nbsp;&nbsp;Sistema de Ventas de Tienda
  <span class="w3-bar-item w3-right"><form name='frmsalir' action='../controllers/cusuarios.php' method='post'><input type='hidden' name='accion' value='cerrarSesion'><a href='#' onclick='cerrarSesion()'>Salir</a>&nbsp;</form></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
			<!-- persona -->
							<div class='col-sm-6'>&nbsp;<?=$img?><b style='font-size:13;'>
							</div>
							<div class='col-sm-6' style='text-align:right'>

							</div>
			<!-- persona -->
    </div>
    <div class="w3-col s8 w3-bar">
      <span> Bienvenido</span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>

    </div>

  </div>
  <hr>
  <div class="w3-container">
    <h5>opciones</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="http://localhost:3000/backend" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>Menu</a>
    <a href="http://localhost:3000/cliente" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>Clientes</a>
    <a href="http://localhost:3000/proveedor" class="w3-bar-item w3-button w3-padding "><i class="fa fa-users fa-fw"></i>Proveedor</a>
    <a href="http://localhost:3000/producto" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>Producto</a>
    <a href="http://localhost:3000/venta" class="w3-bar-item w3-button w3-padding "><i class="fa fa-diamond fa-fw"></i>Ventas</a>
    <a href="http://localhost:3000/credito" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>Credito</a>
    <a href="http://localhost:3000/operador" class="w3-bar-item w3-button w3-padding "><i class="fa fa-bank fa-fw"></i>Operadores</a>
      <a href="http://localhost:3000/recarga" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>Recarga Virtual</a>
    <a href="http://localhost:3000/graficos" class="w3-bar-item w3-button w3-padding w3-lime"><i class="fa fa-cog fa-fw"></i> Reportes</a>
    <a href="http://localhost:3000/graficos1" class="w3-bar-item w3-button  "></i> Reportes 1</a>
    <a href="http://localhost:3000/graficos2" class="w3-bar-item w3-button  "></i> Reportes 2</a>
    <a href="http://localhost:3000/graficos3" class="w3-bar-item w3-button  "></i> Reportes 3</a>
    <a href="http://localhost:3000/pedidos" class="w3-bar-item w3-button w3-padding "><i class="fa fa-cog fa-fw"></i> pedidos</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->


  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
		<!--MI CODIGO-->
	<script src="/javas/highcharts.js"></script>
	<script src="/javas/exporting.js"></script>
  <script src="/javas/modules/data.js"></script>
  <script src="/javas/drilldown.js"></script>

	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			<script type="text/javascript">
      var p;
      function getdata()
      {
      	$.ajax({
      		type:'post',
      		url:'/graficos/descrip',
      		dataType:'json',
      		data:'accion=descrip',
      		success:function(html)
      		{

      			seldata(html);
      		}

      	});
      }
      function seldata(p)
    {
    	na=p.length;
      ss=[]
      ll=[]
    	for(i=0;i<na;i++)
    	{
    		ss[i]=p[i].descripcion;
        ll[i]=p[i].stock;


    	}
      dibujar(ss,ll)

    }
  function dibujar(prod,cant){
    console.log(cant)
    Highcharts.chart('container', {
  	    chart: {
  	        type: 'line'
  	    },
  	    title: {
  	        text: 'Stock mas altos  segun producto'
  	    },
  	    subtitle: {
  	        text: 'tienda yesly'
  	    },
  	    xAxis: {
  	        categories: prod
  	    },
  	    yAxis: {
  	        title: {
  	            text: 'stock'
  	        }
  	    },
  	    plotOptions: {
  	        line: {
  	            dataLabels: {
  	                enabled: true
  	            },
  	            enableMouseTracking: false
  	        }
  	    },
  	    series: [{
  	        name: 'productos',
  	        data: cant
  	    }]
  	});

  }

				</script>

  </footer>
  </form>


	<script>
	// Get the Sidebar
	var mySidebar = document.getElementById("mySidebar");

	// Get the DIV with overlay effect
	var overlayBg = document.getElementById("myOverlay");

	// Toggle between showing and hiding the sidebar, and add overlay effect
	function w3_open() {
	    if (mySidebar.style.display === 'block') {
	        mySidebar.style.display = 'none';
	        overlayBg.style.display = "none";
	    } else {
	        mySidebar.style.display = 'block';
	        overlayBg.style.display = "block";
	    }
	}

	// Close the sidebar with the close button
	function w3_close() {
	    mySidebar.style.display = "none";
	    overlayBg.style.display = "none";
	}
	</script>


  <script src='/javas/jquery-2.1.4.min.js'></script>

</div>
</body>
