<html>
<title>Ordenador</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="theme-color" content="#d72525"><link rel="icon" type="image/png" href="/imgFiles/presentacion.png">
<link rel="stylesheet" href="/cssFiles/estilos2.css">
<!-- iconos-->
<link rel="stylesheet" href='/cssFiles/iconos.min.css'>
<link rel="stylesheet" href='/cssFiles/bootstrap.min.css'>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.visible-scrollbar, .invisible-scrollbar {
  display: block;
  width: 75em;
  overflow: auto;
}
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

datalist {
    display: none;
}
</style>
<body class="w3-light-grey" >

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>&nbsp;&nbsp;&nbsp;Sistema de inventario
  <span class="w3-bar-item w3-right"><form name='frmsalir' action='' method='post'><input type='hidden' name='accion' value='cerrarSesion'><a href='http://192.168.2.12:3000/logout' >Salir</a>&nbsp;</form></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:175px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
			<!-- persona -->

			<!-- persona -->
    </div>
    <div class="w3-col s8 w3-bar">
      <span>  Bienvenido <h5><%=data.usuario.username%></h5></span><br>
      <a href="mailto:hebert_2100@hotmail.com?Subject=Hola%20Hebert" target="_top"class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>

    </div>

  </div>
  <hr>
  <div class="w3-container">
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="http://192.168.2.12:3000/backend" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>Menu</a>

    <div class="w3-bar-item w3-button" onclick="myAccFunc()">
   COMPUTADORA<i class="fa fa-caret-down"></i></div>
   <div id="demoAcc" class="w3-hide w3-white w3-card-4">
     <a href="http://192.168.2.12:3000/ordenador" class="w3-bar-item w3-button">ORDENADOR</a>
     <a href="http://192.168.2.12:3000/cpu" class="w3-bar-item w3-button">CPU</a>
     <a href="http://192.168.2.12:3000/monitor" class="w3-bar-item w3-button">MONITOR</a>
     <a href="http://192.168.2.12:3000/teclado" class="w3-bar-item w3-button">TECLADO</a>

   </div>

   <div class="w3-bar-item w3-button" onclick="myAccFunc2()">
  PATRIMONIO<i class="fa fa-caret-down"></i></div>
  <div id="demoAcc2" class="w3-hide w3-white w3-card-4">
    <a href="http://192.168.2.12:3000/patrimonio" class="w3-bar-item w3-button">AGREGAR</a>
      <a href="http://192.168.2.12:3000/formpatrim" class="w3-bar-item w3-button">FORMATO PATRIMONIO</a>
  </div>

  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" ng-click="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:-210px;margin-top:43px;">

  <!-- Header -->

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
		<!--MI CODIGO-->


		<body ng-cloack>
			<form ng-app="app" id="frmordenador" ng-controller="frmordenador" ng-init="id=0;valor='';operador='LIKE';campo='fecha' "  name='exampleForm' novalidate>
      <div class='container' style="width: 100%">
				<div class='row'>
					<div class='col-xs-3'>
						<br>
						<!--/.parte  del modal-->



						 <div id="1" class="modal fade" role="dialog">
						   <div class="modal-dialog">
						     <div class="modal-content">
						       <div class="modal-header">
						         <button type="button" class="close" data-dismiss="modal">&times;</button>
						         <h4 class="modal-title">Desea Agregar un Nuevo Ordenador</h4>
						       </div>
						       <div class="modal-body">
						 			<div class='container' id='modal'>
										<!-- miniformulario modal-->

										<div class='container' style="width: 100%">
				 		<div class='row'>
				 			<div class='col-xs-3'>
						<div style="width: 180%;margin: 1px auto">
				<div class='row space'>
					<label ></label> {{id}}
					</div>
					 <h4 class="modal-title">Estructura Orgánica</h4>

					 <div class='row space'>
			 <label >Red Asistencial</label>
  <select ng-model="redasis"  name='redasis'  class="form-control w3-animate-zoom"
  required   ng-class='{ error: exampleForm.redasis.$invalid && !exampleForm.$pristine }'>
     <optgroup label="Red Asistencial">
    <option>RED ASISTENCIAL MOQUEGUA</option>
  </optgroup>
  </select>
  <span  ng-show='exampleForm.redasis.$error.required'> <p>Ingrese Datos en el campo</p></span>
	</div>

		 <div class='row space'>
			 <label >Gerencia / Centro Asist.</label>
  <select ng-model="casisten"  name='casisten'  class="form-control w3-animate-zoom"
  required   ng-class='{ error: exampleForm.casisten.$invalid && !exampleForm.$pristine }'>
     <optgroup label="Gerencia / Centro Asist.">
    <option>HOSPITAL MOQUEGUA</option>
    <option>HOSPITAL ILO</option>
    <option>HOSPITAL OMATE</option>
    <option>HOSPITAL TORATA</option>
    <option>HOSPITAL SAMEGUA</option>
  </optgroup>
  </select>
  <span  ng-show='exampleForm.casisten.$error.required'> <p>Ingrese Datos en el campo</p></span>
	</div>



            <div class='row space'>
			 <label >Departamento </label>
  <select ng-model="departam"  name='departam'  class="form-control w3-animate-zoom"
  required   ng-class='{ error: exampleForm.departam.$invalid && !exampleForm.$pristine }'>
     <optgroup label="Departamento">
    <option>Direccion de la Red Asistencial</option>
    <option>Departamento de Ayuda al diagnostico y tratamiento</option>
  </optgroup>
  </select>
  <span  ng-show='exampleForm.departam.$error.required'> <p>Ingrese Datos en el campo</p></span>
	</div>


            <div class='row space'>
			 <label >Servicio</label>
  <select ng-model="servicio"  name='servicio'  class="form-control w3-animate-zoom"
  required   ng-class='{ error: exampleForm.servicio.$invalid && !exampleForm.$pristine }'>
     <optgroup label="Servicio">
    <option>Imagenologia</option>
    <option>Finanzas</option>
    <option>Modulo de Atencion al Asegurado</option>
    <option>Patologia Clinica</option>
    <option>Finanzas</option>
    <option>Secretaria</option>
    <option>Farmacia</option>
    <option>Admision RM Referencias C</option>
    <option>Medicina complementaria</option>
    <option>Recursos Humanos</option>
    <option>Medicina</option>
    <option>Direccion</option>
    <option>Planificacion Calidad  RM</option>
    <option>Of. Atencion al Asegurado</option>
    <option>Oficina de Planeamiento y Calidad</option>
    <option>Soporte Informatico</option>
    <option>Gineco Obstetricia</option>
    <option>Adquisiciones Ingeniería Hosp. Y Serv.</option>
    <option>Emergencia</option>
    <option>Pediatria</option>
    <option>Referencias y Contrareferrencias</option>
    <option>inteligencia Sanitaria</option>
    <option>OCP Atencion Primaria</option>
    <option>Cirugia</option>
    <option>Comision M E Incapacidad</option>
    <option>Enfermeria</option>
    <option>Comité Auditorio Medica</option>
    <option>Med Fisica y Rehabilitacion</option>
    <option>Ayuda al DX T</option>
    <option>tomografia</option>
    <option>Centro Quirurgico A</option>
    <option>CENTRO QUIRURGICO</option>
      <option>Nutricion</option>
      <option>Servicio Social</option>
   <option>Essalud en Linea</option>
    <option>Oficina de Coordinacion de Atencion Primaria</option>
     <option>CAMEC</option>
      <option>Asesoria Legal</option>
       <option>Vigilancia</option>
        <option>Mantenimiento</option>
          <option>Direccion</option>
          <option>Imagen Institucional</option>
            <option>Raxos X</option>

  </optgroup>
  </select>
  <span  ng-show='exampleForm.servicio.$error.required'> <p>Ingrese Datos en el campo</p></span>
	</div>


            <div class='row space'>
			 <label >AREA</label>
  <select ng-model="area"  name='area'  class="form-control w3-animate-zoom"
  required   ng-class='{ error: exampleForm.area.$invalid && !exampleForm.$pristine }'>
     <optgroup label="Area">
    <option>Imagen Institucional</option>
    <option>Jefatura de Rayos X</option>
  </optgroup>
  </select>
  <span  ng-show='exampleForm.area.$error.required'> <p>Ingrese Datos en el campo</p></span>
	</div>


		<div class='row space'>
			<label for="">Fecha</label>
		<input type='date' ng-model="fecha" class="form-control w3-animate-zoom"
		 name='fecha'
		required   ng-class='{ error: exampleForm.fecha.$invalid && !exampleForm.$pristine }' >
			<span  ng-show=' exampleForm.fecha.$error.required '><p> Ingrese Datos en el campo</p></span>
	</div>


  <div class='row space' ng-init='getmarcas()'>
  <label >CPU</label>
  <select ng-model="cpu_id"  name="cpu_id" class="form-control">
  	<option ng-repeat="y in init" value='{{y.id}}'>{{y.CODPATRIM}}</option>
  </select>
  </div>

     <!--<div class='row space' ng-init='getmarcas()'>
  <label >CPU</label>
  <input  list="raquiti" >
  <datalist id="raquiti"  ng-model="cpu_id">
      <option ng-repeat="y in init"  data-ejemplo='{{y.id}}' value='{{y.id}}' >{{y.cod_patrim}}</option>
  </datalist>
</div><!-->

<div class='row space' ng-init='categoria()'>
<label >TECLADO</label>
<select ng-model="teclado_id"  name="teclado_id" class="form-control">
  <option ng-repeat="a in init2" value='{{a.id}}'>{{a.CODPATRIM}}</option>
</select>
</div>

   <!-- <div>
  <label >TECLADO</label>
  <input list="browsers1"  autocomplete="off" />
<datalist class="" id="browsers1" ng-model="teclado_id"  ng-init='categoria()'>
    <option ng-repeat="a in init2"   value='{{a.id}}'>{{a.cod_patrim}}</option>
</datalist>
  </div> -->
  <div class='row space'  ng-init='monitor()'>
  <label >MONITOR</label>
  <select ng-model="monitor_id"  name="monitor_id" class="form-control">
  <option ng-repeat="b in init3" value='{{b.id}}'>{{b.CODPATRIM}}</option>
  </select>
  </div>

   <!-- <div>
  <label >MONITOR</label>
  <input list="browsers3"  autocomplete="off" />
<datalist class="" id="browsers3" ng-model="monitor_id"  ng-init='monitor()'>
    <option ng-repeat="b in init3"   value='{{b.id}}'>{{b.cod_patrim}}</option>
</datalist>
  </div> -->
<br>
   <div class='row space'>
  <label >SISTEMA OPERATIVO</label>
  <select ng-model="sisop"  name='sisop'  class="form-control w3-animate-zoom"
  required   ng-class='{ error: exampleForm.sisop.$invalid && !exampleForm.$pristine }'>
     <optgroup label="sistemas operativos">
    <option>LINUX</option>
    <option>WINDOWS XP</option>
    <option>WINDOWS 7</option>
    <option>WINDOWS 8</option>
    <option>WINDOWS 10</option>
  </optgroup>
  </select>
  <span  ng-show='exampleForm.sisop.$error.required'> <p>Ingrese Datos en el campo</p></span>
  </div>
   <div class='row space'>
  <label >OFIMATICA</label>
  <select ng-model="ofimatica"  name='ofimatica'  class="form-control w3-animate-zoom"
  required   ng-class='{ error: exampleForm.ofimatica.$invalid && !exampleForm.$pristine }'>
     <optgroup label="OFFICE">
    <option>OFFICE 2007</option>
    <option>OFFICE 2016</option>
    <option>LIBRE OFFICE</option>
  </optgroup>
  </select>
  <span  ng-show='exampleForm.ofimatica.$error.required'> <p>Ingrese Datos en el campo</p></span>
  </div>

  <div class='row space'>
  <label >SOPHOS</label>
  <select ng-model="sophos"  name='sophos'  class="form-control w3-animate-zoom"
  required   ng-class='{ error: exampleForm.sophos.$invalid && !exampleForm.$pristine }'>
     <optgroup label="OFFICE">
    <option>SI</option>
    <option>NO</option>
  </optgroup>
  </select>
  <span  ng-show='exampleForm.sophos.$error.required'> <p>Ingrese Datos en el campo</p></span>
  </div>

  <div class='row space'>
<label for="">Observacion</label>
<input type='text' ng-model="observ" class="form-control w3-animate-zoom"
placeholder='ingrese su observacion' name='observ'
required   ng-class='{ error: exampleForm.observ.$invalid && !exampleForm.$pristine }' >
<span  ng-show=' exampleForm.observ.$error.required '><p> Ingrese Datos en el campo</p></span>
</div>

<div class='row space' ng-init='usuario()'>
<label >PERSONA</label>
<select ng-model="persona_id"  name="persona_id" class="form-control">
  <option ng-repeat="s in init4" value='{{s.id}}'>{{s.PR_NOMBRE}}</option>
</select>
</div>



<div class='row space'>
            <button class='btn btn-info' ng-click='reload()'><span class='fa fa-plus-circle'></span></button>
            <button class='btn btn-success' ng-click='guardar()' ng-disabled='!exampleForm.$valid'>Guardar</button>
            <button class='btn btn-danger' ng-click="eliminar(id);" ng-disabled='!exampleForm.$valid' >Eliminar</button>
        </div>
		    </div>
				</div>
      </div>


								  <!--miniformuariomodal-->

					 			</div>
					       </div>
					       <div class="modal-footer">
					         <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					       </div>
					     </div>
</div>
					   </div>
					 </div>
										<!--/.parte  de   modal-->
					</div>
				<div class='col-xs-9'>
				<div class='row space' >
					<div class='col-sm-12'>

						<table class='table'>
							<tr>
								<th> <label >Campo</label>
	        <select ng-model="campo" class="form-control" >
						<option value="fecha">Fecha Inventariado</option>
            <option value="f.PR_NOMBRE"> Usuario del Equipo  </option>
            <option value="f.PR_CODPLA "> Codigo Planilla  </option>
	         	<option value="redasis"> Red Asistencial </option>
            <option value="casisten"> Gerencia/ Centro Asist. </option>
            <option value="departam"> Departamento </option>
            <option value="servicio"> Servicio </option>
            <option value="area"> Area </option>
            <option value="b.num_ip">IP</option>
            <option value="sisop">Sistema Operativo</option>
            <option value="ofimatica">Ofimatica</option>
            <option value="elcpu.CODPATRIM">CPU Codigo Patrimonio</option>
            <option value="elmonitor.CODPATRIM">Monitor Codigo Patrimonio</option>
            <option value="elteclado.CODPATRIM">Teclado Codigo Patrimonio</option>
	        </select>
				</th>
			<th> <label >Operador</label>
	        <select ng-model="operador" class="form-control" >
	           	<option value="LIKE">Similar</option>
	            <option value="=">Igual</option>
	            <option value=">">Mayor</option>
	            <option value="<">Menor</option>
	        </select>

				</th>

			<th> <label >Filtro</label> <br>
	            <input  type="text" ng-model="valor" value="" />
							<button class='btn btn-default w3-animate-zoom' ng-click="buscar();">Buscar</button>
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#1"> <span class="glyphicon glyphicon-plus"></span>  Agregar Nuevo ordenador</button>
                <button class='btn btn-info' ng-click='reload()'><span class='fa fa-plus-circle'></span>   Nuevo Formulario</button>


   </th>
    </tr>
				</table>
<div class="visible-scrollbar">
	<table   class='table table-bordered table-hover' ng-init='configPages()' >
		<tr><th>No</th><th>FECHA</th><th>Usuario</th><th>Cod. Planilla</th><th style="background-color:red">Red Asistencial</th><th style="background-color:red">Gerencia/ Centro Asist.</th><th style="background-color:red">Departamento</th><th style="background-color:red">Servicio</th><th style="background-color:red">Area</th>
      <th style="background-color:#00cc00">CPU</th><th style="background-color:#00cc00">N° Serie</th><th style="background-color:#00cc00">Marca</th><th style="background-color:#00cc00">Modelo</th><th style="background-color:#00cc00">Procesador</th><th style="background-color:#00cc00">IP</th>
      <th style="background-color:#00cc00">Número MAC</th><th style="background-color:#00cc00">Memoria RAM</th><th style="background-color:#00cc00">Cap. Almacenam.</th><th style="background-color:#ffcc00">Monitor</th><th style="background-color:#ffcc00">N° Serie Monit.</th><th style="background-color:#ffcc00">Marca Monit.</th>
    <th style="background-color:#ffcc00">Modelo Monit.</th><th style="background-color:#ffcc00">Pulgad. Monit.</th><th style="background-color:#cc00ff">Teclado</th><th style="background-color:#cc00ff">N° Serie Teclado</th><th style="background-color:#cc00ff">Marca Teclado</th><th style="background-color:#cc00ff">Modelo Teclado</th>
  <th style="background-color:#0040ff">Sistema Op</th><th style="background-color:#0040ff">Sof. Oficina</th><th style="background-color:#0040ff">Observ.</th></tr>
				  <tr ng-repeat="x in encs | startFromGrid: currentPage * pageSize | limitTo: pageSize"  >
				          <th>{{$index+1}}</th>
				            <td>{{x.fecha | date:'yyyy-MM-dd'}}</td>
                    <td>{{x.usuario}}</td>
                    <td>{{x.planilla}}</td>
                    <td>{{x.redasis}}</td>
                    <td>{{x.casisten}}</td>
                    <td>{{x.departam}}</td>
                    <td>{{x.servicio}}</td>
	                   <td>{{x.area}}</td>
                     <td class="success">{{x.cpupatrim}}</td>
                      <td>{{x.serie}}</td>
                     <td>{{x.marca}}</td>
                     <td>{{x.modelo}}</td>
                     <td>{{x.procesador}}</td>
                     <td>{{x.num_ip}}</td>
                     <td>{{x.nummac}}</td>
                     <td>{{x.memram}}</td>
                     <td>{{x.capalmac}}</td>
                    <td class="success">{{x.patrimmonitor}}</td>
                    <td>{{x.seriemonitor}}</td>
                    <td>{{x.monitormarca}}</td>
                    <td>{{x.modelomonitor}}</td>
                    <td>{{x.pulgadas}}</td>
                <td class="success">{{x.patrimteclado}}</td>
                <td>{{x.serieteclado}}</td>
                 <td>{{x.marcateclado}}</td>
                <td>{{x.modelteclado}}</td>
                    <td>{{x.sisop}}</td>
	               <td>{{x.ofimatica}}</td>
                 <td>{{x.observ}}</td>
	                <td><input type="button" class="btn btn-info" ng-click="cad=x.id+','+x.redasis+','+x.casisten+','+x.departam+','+x.servicio+','+x.area+','+x.fecha+','+x.cpu_id+','+x.teclado_id+','+x.monitor_id+','+x.sisop+','+x.ofimatica+','+x.sophos+','+x.observ+','+x.persona_id; mostrarDatos1(cad);" value="Modificar">

                </td>

									<td>  <button class="btn btn-danger"  ng-click="eliminar(x.id);"><span class="fa fa-trash-o"></span></button></td>


				  </tr>

	</table>
</div>
	<center>
	<div class='btn-group'>
					<button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
					<button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>

					<button type='button' class='btn btn-default' ng-disabled='currentPage >= encs.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
				</div>
	</center>
	</div>
		</div>
		</div>
		</div>
		</div>

		</form>

		<!--FIN DE MI CODIGO-->
  </footer>
  <script>
  function myAccFunc() {
    var x = document.getElementById("demoAcc");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}
function myAccFunc2() {
  var x = document.getElementById("demoAcc2");
  if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
      x.previousElementSibling.className += " w3-green";
  } else {
      x.className = x.className.replace(" w3-show", "");
      x.previousElementSibling.className =
      x.previousElementSibling.className.replace(" w3-green", "");
  }
}

  </script>
	<script>


	// Get the Sidebar
	var mySidebar = document.getElementById("mySidebar");

	// Get the DIV with overlay effect
	var overlayBg = document.getElementById("myOverlay");

	// Toggle between showing and hiding the sidebar, and add overlay effect
	function w3_open() {
	    if (mySidebar.style.display === 'block') {
	        mySidebar.style.display = 'none';
	        overlayBg.style.display = "none";
	    } else {
	        mySidebar.style.display = 'block';
	        overlayBg.style.display = "block";
	    }
	}

	// Close the sidebar with the close button
	function w3_close() {
	    mySidebar.style.display = "none";
	    overlayBg.style.display = "none";
	}
	</script>
  <!-- End page content -->
</div>

<script src="/angularjs/angular.min.js"></script>
<script src='/javas/jquery-2.1.4.min.js'></script>
<script src='/boostrap/bootstrap.min.js'></script>

<script type="text/javascript">


var app = angular.module("app", []);
app.controller("frmordenador",   function($scope,$http)
{
	$scope.formData = {};
	$scope.currentPage = 0;
  $scope.pageSize = 10; //  tamño de la Pagina
  $scope.pages = [2];

	$scope.reload = function()
{
   location.reload();
}


$scope.configPages = function() {
			$scope.pages.length = 0;
			var ini = $scope.currentPage - 4;
			var fin = $scope.currentPage + 5;
			if (ini < 1) {
				ini = 1;
				if (Math.ceil($scope.encs.length / $scope.pageSize) > 10)
					fin = 10;
				else
					fin = Math.ceil($scope.encs.length / $scope.pageSize);
			} else {
				if (ini >= Math.ceil($scope.encs.length / $scope.pageSize) - 10) {
					ini = Math.ceil($scope.encs.length / $scope.pageSize) - 10;
					fin = Math.ceil($scope.encs.length / $scope.pageSize);
				}
			}
			if (ini < 1) ini = 1;
			for (var i = ini; i <= fin; i++) {
				$scope.pages.push({
					no: i
				});
			}

			if ($scope.currentPage >= $scope.pages.length)
				$scope.currentPage = $scope.pages.length - 1;
		};

		$scope.setPage = function(index) {
			$scope.currentPage = index - 1;
		};

//alertas
function AlertsCtrl($scope, alertsManager) {
    $scope.alerts = alertsManager.alerts;
}

//fin alertas
$scope.submitForm = function (formData) {
	alert('Form submitted with' + JSON.stringify(formData));
};
 var alerta="Datos Guardados Correctamente";
	$scope.guardar=function(){
    id=$scope.id,
    url='/guardado/ordenador';
      if (id>0) {
    url='/update/ordenador';
       };
    $http.post(url,
		{
			'id':id,
			'redasis':$scope.redasis,
			'casisten':$scope.casisten,
			'departam':$scope.departam,
			'servicio':$scope.servicio,
			'area':$scope.area,
			'fecha':$scope.fecha,
			'cpu_id':$scope.cpu_id,
     'teclado_id':$scope.teclado_id,
			'monitor_id':$scope.monitor_id,
			'sisop':$scope.sisop,
			'ofimatica':$scope.ofimatica,
			'sophos':$scope.sophos,
			'observ':$scope.observ,
      'persona_id':$scope.persona_id,
			'accion':'guardar',
		}).then(function(response)
			{
			});
      alert("REGISTRO GUARDADO CORRECTAMENTE");
		}

	$scope.buscar=function()
	{
		$http.post('/buscar/ordenador',
		{	'campo':$scope.campo,
			'operador':$scope.operador,
			'valor':$scope.valor,
		}).then(function(response)
			{
				$scope.encs=response.data;
			});

	},

	$scope.getmarcas=function()
	{
		$http.post('/getmarca/ordenador',
		{
			'accion':'getmarcas',
		}).then(function(response)
			{
				$scope.init=response.data;
				// console.log($scope.init);
			});
	},
  $scope.categoria=function()
	{
		$http.post('/categoria/ordenador',
		{
			'accion':'categoria',
		}).then(function(response)
			{
				$scope.init2=response.data;
				// console.log($scope.init2);
			});
	}
  $scope.monitor=function()
	{
		$http.post('/monitor/ordenador',
		{
			'accion':'monitor',
		}).then(function(response)
			{
				$scope.init3=response.data;
				 console.log($scope.init3);
			});
	}

  $scope.usuario=function()
  {
    $http.post('/usuario/ordenador',
    {
      'accion':'usuario',
    }).then(function(response)
      {
        $scope.init4=response.data;
        // console.log($scope.init3);
      });
  }


$scope.encs=function(id,redasis,fecha,cpu_id,teclado_id,monitor_id)
{
}
	$scope.buscarDESCRIPCION=function(datos)
	{	$http.post('../controllers/cproducto.php',
		{	'descripcion':$scope.descripcion,
			'accion':'buscarDESCRIPCION',
		}).then(function(response)
		{
		 $scope.id=response.data[0][0];
		 $scope.area=response.data[0][1];
		 $scope.fecha=response.data[0][2];
         $scope.cpu_id=response.data[0][3];
         $scope.teclado_id=response.data[0][4];
         $scope.monitor_id=response.data[0][5];

	 });

	}
	///eliminamos  $scope.removeRow(id);
	$scope.eliminar=function(id)
	{
		$http.post('/eliminar/ordenador',
		{	'id':id,
			'accion':'eliminar',
		}).then(function(response)
			{
				 $scope.removeRow(id);
				alert(response.data);
			});
		}
	$scope.removeRow = function(id)
{  	var index = -1;
		var comArr = eval($scope.encs);
		for( var i = 0; i < comArr.length; i++ )
	{   if(comArr[i].id === id)
		{    index = i;
						 break;
				}
		}
	if( index === -1 )
			alert("Tienes  Erros de codigo");
	else
			$scope.encs.splice(index, 1);
};
//  fin de la eliminacion
$scope.mostrarDatos1=function(data)
	{	d=data.split(",");
		$scope.id=d[0];
		$scope.redasis=d[1];
    $scope.casisten=d[2];
	//	$scope.fecha=new Date(d[2]);
		$scope.departam=d[3];
		$scope.servicio=d[4];
		$scope.area=d[5];
		$scope.fecha=new Date(d[6]);
    $scope.cpu_id=d[7];
    $scope.teclado_id=d[8];
    $scope.monitor_id=d[9];
    $scope.sisop=d[10];
    $scope.ofimatica=d[11];
    $scope.sophos=d[12];
    $scope.observ=d[13];
    $scope.persona_id=d[14];

	};
})
.filter('startFromGrid', function() {
  return function(input,start)
	{
    start = +start;
		if(angular.isArray(input) && input.length > 0) {
             return input.slice(start);
        }
				return input;
  }
});
</script>
</body>
</html>
