<html>
<title>Recarga Virtual</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="theme-color" content="#d72525"><link rel="icon" type="image/png" href="/imgFiles/presentacion.png">
<link rel="stylesheet" href="/cssFiles/estilos2.css">
<!-- iconos-->
<link rel="stylesheet" href='/cssFiles/iconos.min.css'>
<link rel="stylesheet" href='/cssFiles/bootstrap.min.css'>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>&nbsp;&nbsp;&nbsp;Sistema de Ventas de Tienda
  <span class="w3-bar-item w3-right"><form name='frmsalir' action='' method='post'><input type='hidden' name='accion' value='cerrarSesion'><a href='http://localhost:3000/logout' >Salir</a>&nbsp;</form></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
			<!-- persona -->
							<div class='col-sm-6'>&nbsp;<b style='font-size:13;'>
							</div>
							<div class='col-sm-6' style='text-align:right'>
							</div>
			<!-- persona -->
    </div>
    <div class="w3-col s8 w3-bar">
      <span> Bienvenido </span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>

    </div>

  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="http://localhost:3000/backend" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>Menu</a>
    <a href="http://localhost:3000/cliente" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>Clientes</a>
    <a href="http://localhost:3000/proveedor" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>Proveedor</a>
    <a href="http://localhost:3000/producto" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>Producto</a>
    <a href="http://localhost:3000/venta" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>Ventas</a>
    <a href="http://localhost:3000/credito" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>Credito</a>
    <a href="http://localhost:3000/operador" class="w3-bar-item w3-button w3-padding "><i class="fa fa-bank fa-fw"></i>Operadores</a>
    <a href="http://localhost:3000/recarga" class="w3-bar-item w3-button w3-padding "><i class="fa fa-history fa-fw"></i>Recarga Virtual</a>
    <a href="http://localhost:3000/graficos" class="w3-bar-item w3-button w3-padding "><i class="fa fa-cog fa-fw"></i> Reportes</a>
    <a href="http://localhost:3000/pedidos" class="w3-bar-item w3-button w3-padding w3-lime"><i class="fa fa-cog fa-fw"></i> pedidos</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->


  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
		<!--MI CODIGO-->
		<body ng-cloack>
			<form ng-app="app" ng-controller="frmpedido" ng-init="id=0;campo='fecha';operador='LIKE';valor=''"  name='exampleForm' novalidate>
      <div class='container' style="width: 100%">
				<div class='row'>
					<div class='col-xs-3'>
						<div style="width: 100%;margin: 1px auto">
				<div class='row space'>
					<label ></label> {{id}}
					</div>
					<div class='row space'>
			<label for="">Fecha del Pedido</label>
		<input type='date' ng-model="fecha" class="form-control w3-animate-zoom" name='fecha'
		required   ng-class='{ error: exampleForm.fecha.$invalid && !exampleForm.$pristine }' >
			<span  ng-show=' exampleForm.fecha.$error.required '><p> Ingrese Datos en el campo</p></span>
	</div>
	<div class='row space'>
<label for="">Hora Del Pedido</label>
<input type='text' ng-model="hora" class="form-control w3-animate-zoom" name='hora' placeholder="hh:mm:ss"
required   ng-class='{ error: exampleForm.hora.$invalid && !exampleForm.$pristine }' >
<span  ng-show=' exampleForm.hora.$error.required '><p> Ingrese Datos en el campo</p></span>
</div>


<div class='row space' ng-init='getUsuarios()' >
<label >Seleccione Usuario</label>
<select ng-model="usuarios_id"  name='usuarios_id' class="form-control w3-animate-zoom"
required   ng-class='{ error: exampleForm.usuarios_id.$invalid && !exampleForm.$pristine }'>
	<option ng-repeat="y in ope" value='{{y.id}}'>{{y.nombre}}</option>
</select>
<span  ng-show='exampleForm.usuarios_id.$error.required'> <p>Ingrese Datos en el campo</p></span>
</div>

  <div class='row space' ng-init='getProveedor()' >
<label >Seleccione Proveedor</label>
<select ng-model="proveedor_id"  name='proveedor_id' class="form-control w3-animate-zoom"
required   ng-class='{ error: exampleForm.proveedor_id.$invalid && !exampleForm.$pristine }'>
	<option ng-repeat="z in usu" value='{{z.id}}'>{{z.nombre}}</option>
</select>
<span  ng-show='exampleForm.proveedor_id.$error.required'> <p>Ingrese Datos en el campo</p></span>
</div>



<div class='row space'>
            <button class='btn btn-info' ng-click='reload()'><span class='fa fa-plus-circle'></span></button>
            <button class='btn btn-success' ng-click='guardar()' ng-disabled='!exampleForm.$valid'>Guardar</button>
            <button class='btn btn-danger' ng-click="eliminar(id);" ng-disabled='!exampleForm.$valid' >Eliminar</button>
        </div>
		    </div>
				</div>

				<div>

					</div>
				<div class='col-xs-9'>
				<div class='row space' >
					<div class='col-sm-12'>
						<table class='table'>
							<tr>
								<th>
	        <select ng-model="campo" class="form-control w3-animate-zoom">
	         	<option value="fecha">Fecha</option>
	        </select>
				</th>
			<th>
	        <select ng-model="operador" class="form-control w3-animate-zoom">
	           	<option value="LIKE" selected>Similar</option>

	        </select>

				</th>

			<th>
	            <input type="text" ng-model="valor" value="" size='30'/>
								<button class='btn btn-default w3-animate-zoom' ng-click="buscar();">Buscar</button>
						</th>

			</th>
			</tr>
				</table>

	        </input>

	<table   class='table table-bordered table-hover w3-animate-zoom' ng-init='configPages()' >
		<tr><th>No</th><th>Fecha</th><th>Hora</th><th>usuario</th><th>proveedor</th></tr>
				  <tr ng-repeat="x in encs | startFromGrid: currentPage * pageSize | limitTo: pageSize"  >
				          <th>{{$index+1}}</th>
	                <td>{{x.fecha}}</td>
	                <td>{{x.hora}}</td>
									<td>{{x.usuarios_id}}</td>
									<td>{{x.proveedor_id}}</td>
	                <td><input type="button" class="btn btn-info" ng-click="cad=x.id+','+x.fecha+','+x.hora+','+x.usuarios_id+','+x.proveedor_id; mostrarDatos1(cad);" value="Ver">
	                <button class="btn btn-danger"  ng-click="eliminar(x.id);"><span class="fa fa-trash-o"></span></button>
	                </td>


				  </tr>

	</table>
	<center>
	<div class='btn-group'>
					<button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
					<button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
					<button type='button' class='btn btn-default' ng-disabled='currentPage >= encs.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
				</div>
	</center>
	</div>
		</div>
		</div>
		</div>
		</div>

		</form>

		<!--FIN DE MI CODIGO-->
  </footer>
	<script>
	// Get the Sidebar
	var mySidebar = document.getElementById("mySidebar");

	// Get the DIV with overlay effect
	var overlayBg = document.getElementById("myOverlay");

	// Toggle between showing and hiding the sidebar, and add overlay effect
	function w3_open() {
	    if (mySidebar.style.display === 'block') {
	        mySidebar.style.display = 'none';
	        overlayBg.style.display = "none";
	    } else {
	        mySidebar.style.display = 'block';
	        overlayBg.style.display = "block";
	    }
	}

	// Close the sidebar with the close button
	function w3_close() {
	    mySidebar.style.display = "none";
	    overlayBg.style.display = "none";
	}
	</script>
  <!-- End page content -->
</div>
<script src="/angularjs/angular.min.js"></script>
<script type="text/javascript">

var app = angular.module("app", []);
app.controller("frmpedido",   function($scope,$http)
{
$scope.formData = {};
$scope.currentPage = 0;
$scope.pageSize = 10; //  tamño de la Pagina
$scope.pages = [];

$scope.reload = function()
{
 location.reload();
}


$scope.configPages = function() {
    $scope.pages.length = 0;
    var ini = $scope.currentPage - 4;
    var fin = $scope.currentPage + 5;
    if (ini < 1) {
      ini = 1;
      if (Math.ceil($scope.encs.length / $scope.pageSize) > 10)
        fin = 10;
      else
        fin = Math.ceil($scope.encs.length / $scope.pageSize);
    } else {
      if (ini >= Math.ceil($scope.encs.length / $scope.pageSize) - 10) {
        ini = Math.ceil($scope.encs.length / $scope.pageSize) - 10;
        fin = Math.ceil($scope.encs.length / $scope.pageSize);
      }
    }
    if (ini < 1) ini = 1;
    for (var i = ini; i <= fin; i++) {
      $scope.pages.push({
        no: i
      });
    }

    if ($scope.currentPage >= $scope.pages.length)
      $scope.currentPage = $scope.pages.length - 1;
  };

  $scope.setPage = function(index) {
    $scope.currentPage = index - 1;
  };

//alertas
function AlertsCtrl($scope, alertsManager) {
  $scope.alerts = alertsManager.alerts;
}

//fin alertas
$scope.submitForm = function (formData) {
alert('Form submitted with' + JSON.stringify(formData));
};
var alerta="Datos Guardados Correctamente";

$scope.guardar=function()
{	$http.post('/guardado/pedidos',
  {
    'id':$scope.id,
    'fecha':$scope.fecha,
    'hora':$scope.hora,
    'usuarios_id':$scope.usuarios_id,
    'proveedor_id':$scope.proveedor_id,
    'accion':'guardar',
  }).then(function(response)
    {
      alert(alerta);
    });
  }
$scope.buscar=function()
{
  $http.post('/buscar/pedidos',
  {	'campo':$scope.campo,
    'operador':$scope.operador,
    'valor':$scope.valor,
    'accion':'buscar',
  }).then(function(response)
    {
      $scope.encs=response.data;
    });
}

$scope.getUsuarios=function()
{
  $http.post('/usuarios/pedidos',
  {
  }).then(function(response)
    {
      $scope.ope=response.data;
      console.log($scope.ope);
    });
}
$scope.getProveedor=function()
{
  $http.post('/proveedor/pedidos',
  {
  }).then(function(response)
    {
      $scope.usu=response.data;
      console.log($scope.usu);
    });
}
$scope.encs=function(id,fecha,hora,usuarios_id,proveedor_id)
{
}

///eliminamos  $scope.removeRow(id);
$scope.eliminar=function(id)
{
  $http.post('/eliminar/pedidos',
  {	'id':id,
  }).then(function(response)
    {
       $scope.removeRow(id);
      alert(response.data);
    });
  }
$scope.removeRow = function(id)
{  	var index = -1;
  var comArr = eval($scope.encs);
  for( var i = 0; i < comArr.length; i++ )
{   if(comArr[i].id === id)
  {    index = i;
           break;
      }
  }
if( index === -1 )
    alert("Tienes  Erros de codigo");
else
    $scope.encs.splice(index, 1);
};
//  fin de la eliminacion
$scope.mostrarDatos1=function(data)
{	d=data.split(",");
  $scope.id=d[0];
  $scope.fecha=new Date(d[1]);
  $scope.hora=d[2];
  $scope.usuarios_id=d[3];
  $scope.proveedor_id=d[4];
};
})
.filter('startFromGrid', function() {
return function(input,start)
{
  start = +start;
  if(angular.isArray(input) && input.length > 0) {
           return input.slice(start);
      }
      return input;
}
});
</script>
</body>
</html>
