<html>
<title>Principal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="theme-color" content="#d72525"><link rel="icon" type="image/png" href="/imgFiles/presentacion.png">

<link rel="stylesheet"  href="/cssFiles/style.css">

<!-- iconos-->
<link rel="stylesheet" href='/cssFiles/iconos.min.css'>
<link rel="stylesheet" href='/cssFiles/bootstrap.min.css'>


<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey" onload="usuarios()">

  <script src='/javas/jquery-2.1.4.min.js'></script>
  <script src='/boostrap/bootstrap.min.js'></script>


<!-- Top container -->
<nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Inventario</a>
  </div>

  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">




      <!-- <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Menú #1 <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #5</a></li>
        </ul>
      </li> -->
    </ul>



        <!-- <div class="navbar-form navbar-left">
          <input  class="form-control" type="text" ng-model="valor"  value=""    />



        </div> -->


    <%- include users/salir.ejs %>


  </div>
</nav>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:175px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
			<!-- persona -->


			<!-- persona -->
    </div>
    <div class="w3-col s8 w3-bar">
      <span>  Bienvenido <h5><%=data.usuario.username%></h5></span><br>
      <a href="mailto:hebert_2100@hotmail.com?Subject=PRUEBAS%20Hebert" target="_top"class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <%- include users/registro.ejs %>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
<%- include users/menu.ejs %>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i>   Mi Menu</b></h5>


  </header>
<br><br><br>
  <!-- PARTE PDF -->
<!--<div id="customers">
    <table id="tab_customers" class="table table-striped">
        <colgroup>
            <col width="20%">
                <col width="20%">
                    <col width="20%">
                        <col width="20%">
        </colgroup>
        <thead>
            <tr class='warning'>
                <th>pruebas</th>
                <th>pruebas</th>
                <th>pruebas</th>
                <th>pruebas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>pruebas</td>
                <td>pruebas</td>
                <td>pruebas</td>
                <td>pruebas</td>
            </tr>
            <tr>
                <td>pruebas</td>
                <td>pruebas</td>
                <td>pruebas</td>
                <td>pruebas</td>
            </tr>
            <tr>
                <td>pruebas</td>
                <td>pruebas</td>
                <td>pruebas</td>
                <td>pruebas</td>
            </tr>
            <tr>
                <td>pruebas</td>
                <td>pruebas</td>
                <td>pruebas</td>
                <td>pruebas</td>
            </tr>
            <tr>
                <td>pruebas</td>
                <td>pruebas</td>
                <td>pruebas</td>
                <td>pruebas</td>
            </tr>
        </tbody>
    </table>
</div>-->

  <h1>-------</h1>


<!--<button onclick="javascript:demoFromHTML();">PDF</button> -->
  <!-- FIN PARTE PDF -->
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">


  </footer>
  <script>
  function myAccFunc() {
    var x = document.getElementById("demoAcc");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}
function myAccFunc2() {
  var x = document.getElementById("demoAcc2");
  if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
      x.previousElementSibling.className += " w3-green";
  } else {
      x.className = x.className.replace(" w3-show", "");
      x.previousElementSibling.className =
      x.previousElementSibling.className.replace(" w3-green", "");
  }
}

  </script>
	    <script src="/angularjs/formulariosadd.js"></script>

<script type="text/javascript">
var p;
function usuarios()
{
  $.ajax({
    type:'post',
    url:'/usuarios/back',
    dataType:'json',
    data:'accion=usuarios',
    success:function(html)
    {
      selusuario(html);
    }

  });
}
function selusuario(p)
{
na=p.length;
html="<table><h1>";
for(i=0;i<na;i++)
{
  html+=p[i].total+"<br>";
}
html+="</h1></table>";
$('#cusuarios').html(html);

}
function demoFromHTML() {
  var pdf = new jsPDF('p', 'pt', 'letter');

  source = $('#customers')[0];

  specialElementHandlers = {
      // element with id of "bypass" - jQuery style selector
      '#bypassme': function (element, renderer) {
          // true = "handled elsewhere, bypass text extraction"
          return true
      }
  };
  margins = {
      top: 80,
      bottom: 60,
      left: 40,
      width: 522
  };

  pdf.fromHTML(
  source, // HTML string or DOM elem ref.
  margins.left, // x coord
  margins.top, { // y coord
      'width': margins.width,
      'elementHandlers': specialElementHandlers
  },

  function (dispose) {
      pdf.save('Test.pdf');
  }, margins);
}
</script>
<script src="/angularjs/responsimenu.js"></script>

  <!-- End page content -->
</div>

</body>

</html>
